meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
title Ancestral Lens
link(rel="icon" href="icon/al_logo.png" type="image/icon type")
link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
