div(id="manual-pane")
    div(class="w3-padding-large w3-border")
        select(class="w3-select w3-margin-bottom w3-black", name="option", id="category-select")
            option(value="" disabled selected) Choose your option
            option(value="basic") พื้นฐานเกม
            option(value="player") สำหรับผู้เล่น
            option(value="writer") สำหรับคนเขียนเนื้อเรื่อง
            option(value="painter") สำหรับคนวาดภาพ
        
        select(class="w3-select w3-black", name="option", id="topic-select")
            option(class="base", value="" disabled selected) Choose your option
            option(class="basic", value="m1") พื้นฐานเกม 1
            option(class="basic", value="m2") พื้นฐานเกม 2
            option(class="writer", value="m3") สำหรับคนเขียนเนื้อเรื่อง 1
            option(class="painter", value="m4") สำหรับคนวาดภาพ 1
            option(class="player", value="m5") สำหรับผู้เล่น 1
            option(class="player", value="m6") สำหรับผู้เล่น 2
            option(class="writer", value="m7") สำหรับคนเขียนเนื้อเรื่อง 2
            option(class="painter", value="m8") สำหรับคนวาดภาพ 2
        
    
    div(class="w3-padding-small content scrollable", style="top: 130px; bottom: 10px")
        p(class="manual-content", id="m1")
           | 1.หน้าเข้าระบบ จะประกอบไปด้วยโลโก้เกม กล่องใส่ชื่อ กล่องรหัสผ่าน และปุ่มยืนยัน โดยจะใช้ในการเข้าระบบเกมและดึงข้อมูลของผู้เล่นที่เคยเล่นไว้ และเกมจะไปยังหน้ารอโหลดทันทีเมื่อรหัสผ่านและชื่อของผู้เล่นตรงกัน
           | <br><br>2.หน้ารอโหลด ประกอบไปด้วยโลโก้เกม ข้อมูลที่เป็นประโยชน์กับผู้เล่น และแถบความคืบหน้าของการโหลด ใช้ในการรอโหลดระหว่างที่เกมกําลังดึงข้อมูลของผู้เล่นและข้อมูลสถานที่ในเกมจากฐานข้อมูล และจะนําไปสู่หน้าเลือกสถานที่เกม เมื่อโหลดข้อมูลเสร็จแล้ว
           | <br><br>3.หน้าเลือก ประกอบไปด้วยแถบบนและแถบล่าง โดยแถบบนจะนําเสนอสถานที่ใกล้ผู้เล่น ส่วนแถบล่างจะเป็นชุดของสถานที่ที่มีเนื้อเรื่องเกี่ยวข้องกัน และผู้เล่นควรจะไปดูในลําดับที่เกมเสนอ ผู้เล่นสามารถเข้าไปดูข้อมูลของตัวเองได้โดยการกดปุ่มฉัน และเมื่อผู้เล่นกดเลือกสถานที่ได้แล้วเกมก็จะพาผู้เล่นไปยังหน้าแผนที่ต่อไป
           | <br><br>4.หน้าข้อมูลผู้เล่น แสดงชื่อ สถานที่ และคะแนนที่ผู้เล่นมี เพื่อให้ผู้เล่นสามารถวางแผนการเล่นเกมในอนาคตได้ และสามารถกลับไปยังหน้าเลือกสถานที่เกมได้โดยการกดปุ่มกลับ
           | <br><br>5.หน้าแผนที่ ประกอบไปด้วยแผนที่ ชื่อสถานที่ที่จะไป และเส้นทางที่ต้องเดินไป ใช้ในการนําทางผู้ทางผู้เล่นไปยังสถานที่ที่จะเล่นเกม ผู้เล่นยังสามารถที่จะยกเลิกการเดินทางและกลับไปหน้าเลือกใหม่ได้โดยการกดปุ่มกลับ และเมื่อผู้เล่นยืนในจุดที่สามารถเกิดเหตุารณ์พิเศษได้ เกมก็จะไปยังหน้าเหตุการณ์
           | <br><br>6.หน้าเหตุการณ์ ประกอบไปด้วยชื่อและคําบรรยายสถานการณ์ และมีทางเลือกพร้อมกับไอเท็มที่เกี่ยวข้องกับทางเลือกนั้น โดยเมื่อผู้เล่นกดค้างที่ทางเลือก เกมก็จะไปยังหน้าที่อธิบายไอเท็มชิ้นนั้น และเมื่อผู้เล่นเลือกทางเลือกได้แล้ว เกมก็จะให้คะแนนผู้เล่นและย้อนกลับไปยังหน้าแผนที่ เพื่อให้ผู้เล่นได้ไปหาเหตุการณ์อื่นต่อไป
           | <br><br>7.หน้าไอเท็ม ประกอบไปด้วยมุมมอง 3Dของไอเท็มชิ้นที่เลือก ชื่อและคําอธิบายไปเท็มชิ้นนั้น ใช้เพื่อเป็นเหมือนคําใบ้ในการแก้ปริศนาและเล่าเรื่องราวในเกมไปด้วยในเวลาเดียวกัน โดยผู้เล่นสามารถกลับไปยังหน้าเหตุการณ์ได้โดยการกดปุ่มกลับ
        
        p(class="manual-content", id="m2")
            | โครงงานนี้เป็นโครงงานการสร้าง ARApplication Game โดยสามารถที่จะเล่นได้ในอุปกรณ์ที่รองรับระบบ GPS และมี Browser ที่สามารถใช้งาน WebAssembly และ WebGL ได้เนื่องจากโครงการไม่ต้องการให้เกมนี้เป็นเหมือนตําราท่องจําอีกเล่มหนึ่ง รูปแบบเกมจึงไม่ได้แน่นการให้ข้อมูลกับผู้เล่นโดยตรง แต่เป็นเหมือนปริศนาที่ผู้เล่นจะต้องแก้ด้วยตัวเอง และเกมนี้ยังอยากจะให้ผู้เล่นตั้งคําถามกับข้อมูลที่เกมให้กับผู้เล่นอยู่เสมอ เพราะนั้นอาจจะนําไปสู่การค้นพบใหม่ ๆการใช้งานผู้เล่นสามารถที่จะเล่นผ่าน Browser ได้เลยโดยไม่ต้องติดตั้ง แต่จะต้องมีการเชื่อมต่อกับอินเทอร์เน็ตและเปิดระบบ GPS ตลอดเวลาที่เล่นเกม และผู้เล่นต้องมีบัญชีที่เพื่อใช้ในการเข้าเล่นเกมการเป็นเกมในเว็บและต้องเล่นผ่าน Browser ไม่ใช่ในอุปกรณ์ ซึ่งถึงแม้จะทําให้เล่นบนหลายอุปกรณ์มากขึ้น แต่ในด้านประสิทธิภาพก็อาจจะน้อยกว่าแอพพลิเคชั่นในอุปกรณ์โดยตรงในส่วนของระบบ GPS ทางรัฐบาลสหรัฐอเมริกา ซึ่งเป็นผู้ดูแลดาวเทียม GPS ได้พูดถึงความแม่นยําในการบอกตําแหน่งของ GPS โดยความแม่นยํานั้นขึ้นอยู่กับปัจจัย เช่น สภาพท้องฟ้า ตําแหน่ง และคุณภาพของเครื่องรับ GPS ด้วยโทรศัพท์มือถือในปัจจุบันในพื้นที่เปิดโล้งและท้องฟ้าเปิด จะมีความแม่นยําสูงสุดภายในรัศมี 4.9 เมตรจากเครื่องรับ GPS ดังนั้นผู้เล่นจึงควรจะมีความรู้เกี่ยวกับเส้นทางและสถานที่ที่จะไปก่อนเล่นเกม
        
        p(class="manual-content", id="m3")
            | ทดสอบครับนี้คือบทความที่จะช่วยเหลือผู้เล่นอันที่ 3
        
        p(class="manual-content", id="m4")
            | ทดสอบครับนี้คือบทความที่จะช่วยเหลือผู้เล่นอันที่ 4
        
        p(class="manual-content", id="m5")
            | ทดสอบครับนี้คือบทความที่จะช่วยเหลือผู้เล่นอันที่ 5
        
        p(class="manual-content", id="m6")
            | ทดสอบครับนี้คือบทความที่จะช่วยเหลือผู้เล่นอันที่ 6
        
        p(class="manual-content", id="m7")
            | ทดสอบครับนี้คือบทความที่จะช่วยเหลือผู้เล่นอันที่ 7
        
        p(class="manual-content", id="m8")
            | ทดสอบครับนี้คือบทความที่จะช่วยเหลือผู้เล่นอันที่ 8
                
            
        
