.leaflet-sidebar-content {
    > div {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }
}

.user-container {
    height: 60px;
    width: 100%;
}

.message-box {
    word-wrap: break-word;
    border-radius: 16px;
    padding: 16px 8px 16px 8px;
    margin: 0 15px 0 15px;
    img {
        width: 100%;
    }
}

.icon {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.left {
    > .message-box {
        background-color: #4169E1;
        border-top-left-radius: 0px;
        color: white;
    }
    > div {
        > .icon {
            position: absolute;
            left: 20px;
        }
        > .name-tag {
            text-align: left;
            margin-left: 80px;
        }
    }
}

.right {
    > .message-box {
        background-color: #F5F5F5;
        border-top-right-radius: 0px;
        color: black;
        margin-right: 15px;
    }
    > div {
        > .icon {
            position: absolute;
            right: 20px;
        }
        > .name-tag {
            text-align: right;
            margin-right: 80px;
        }
    }
}

#profile {
    > div:last-child {
        > img {
            width: 100%;
            height: auto;
        }
        > div {
            width: 100%;
        }
    }
}

.pane {
    position: fixed;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    z-index: 9999;
    display: none;
}

.pane-small {
    position: fixed;
    top: 30px;
    left: 30px;
    right: 30px;
    z-index: 10000;
    display: none;
}

.forum-box {
    > p:last-child {
        margin-top: 0;
    }
    img {
        width: 20px;
        margin-right: 10px;
    }
}

.square-button {
    border: 2px solid rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    > i {
        font-size: 12pt;
        text-align: center;
    }
}

.content {
    position: absolute;
    left: 10px;
    right: 10px;
}

.scrollable {
    overflow-y: scroll;
}

.character-container {
    width: 60px;
    height: 90%;
    display: inline-block;
}

.page-button {
    display: inline-block;
}

.my-collapse-btn:after {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 30px;
    content: "\00d7";
}

.leaflet-routing-container-hide .my-collapse-btn:after {
    position: absolute;
    top: 3px;
    left: 3px;
    display: block;
    font-size: 20px;
    width: 30px;
    height: 30px;
    content: "\f4d7";
}

.info-box {
    margin-top: 40px;
}

#whitespace {
    height: 60px;
}

.image-choice {
    margin-bottom: 10px;
    img {
        width: 99%;
    }
}

.edit-tool-icon {
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 3px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 15px;
}
