<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Ancestral Lens</title>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<style>
			body {
				height: 100vh;
				background-image: url("image/tiled_background.jpg");
				display: flex;
			  align-items: center;
			  justify-content: center;
			}
		</style>
	</head>
	<body>
		<div class="login-form w3-card-2 w3-white w3-round-large w3-animate-top w3-center w3-padding">
			<br><h1>Welcome!</h1>
			<h3>to Ancestral Lens</h3><br>
			<form name="myForm" action="auth" method="POST" class="w3-margin">
				<input type="text" name="email" placeholder="Email" class="w3-input">
				<input type="password" name="password" placeholder="Password" class="w3-margin-top w3-input">
				<br>
				<input type="button" value="LOG IN" onclick="validateForm()" class="w3-button w3-block w3-black w3-round-xxlarge w3-section">
			</form>
			<p><br>Don’t have an account? <a href="?action=register">Sign Up</a></p>
		</div>
		<script src="/js/login.js"></script>
	</body>
</html>
